In [ ]:
1+1

In [ ]:
10-10

In [ ]:
1-20 #control-enter,  shift-enter

## 변수

## 변수 선언및 초기화
- 변수명 = 값
    - 변수는 반드시 선언하면서 값을 대입 해야 한다.
    - 선언시 대입할 값이 없으면 None을 대입 (`name = None`)
    
### 변수에 값 대입
1. 여러 변수에 동일 한 값 대입
    - a = b = c = 30
1. 여러 변수에 다른 값 대입을 한 구문으로 처리
    - `a, b, c = 10, 20, 30`

## 변수 사용
- 조회: 변수명을 쓰면 그 변수가 가진 값을 조회해 사용한다.
- 변경: 변수명=새값

In [ ]:
# 주석 시작, 끝: 엔터 => 한줄주석
# 변수 선언
age = 20 
age = 30 #변경
age

In [ ]:
name = None #None: 값이 없다란 의미의 값.
name

In [ ]:
name="홍길동"
name

In [ ]:
name2 = "김영수"

In [ ]:
#3name = "박영희" #변수명은 숫자로 시작 할 수 없다.
# name$3="박영희" #특수문자는 _ 만 가능

In [ ]:
address1 = address2 = None

In [ ]:
# address1 = None
# address2 = None

In [ ]:
age1 = age2 = 0
age1

In [ ]:
age2

In [ ]:
num1, num2, num3, num4 = 10, 20, 30, 40

In [ ]:
num1

In [ ]:
num2

In [ ]:
num3

In [ ]:
num4

In [ ]:
num1+num3

In [ ]:
del num1 #변수 num1을 제거

In [ ]:
num1

In [ ]:
num2 + num3

In [ ]:
num2 = "삼십"
num2

In [ ]:
num2 + num3

In [ ]:
type(num2) #변수가 가진 값의 데이터타입 조회
# str: 문자열, int: 정수, float: 실수, bool: 논리형

In [ ]:
type(num3)

In [ ]:
student_name = "홍길동"

# 숫자형(정수, 실수)

In [ ]:
.5

In [ ]:
0xAF34 #16진수 0x

In [ ]:
0o73 #8진수 0o

In [ ]:
2**5

In [ ]:
10**10

In [ ]:
10/4 #나누기

In [ ]:
10 // 4 #몫 연산자

In [ ]:
10 % 3 #나머지 연산자

In [ ]:
num = 10
# 3의 배수
(num % 3) == 0

# 논리형(bool)
- 값: True, False
- 0, "", None 이 False

In [ ]:
bool(10)

In [ ]:
bool(-5)

In [ ]:
bool(0)

In [ ]:
bool("a")

In [ ]:
bool("")

In [ ]:
bool(" ")

In [ ]:
bool(None)

In [ ]:
input()

In [ ]:
name=input("이름:")

In [ ]:
bool(name)

In [ ]:
name if name else "이름 입력하세요"

In [ ]:
# 비교연산
10 > 5

In [ ]:
age = 10
age > 19

In [ ]:
age = 20
name = "홍길동"

In [ ]:
# 나이가 19세 이상이고 이름은 홍길동인가?
(age >= 19)  & (name == "홍길동") # &: 피연산자 둘다 True일 때만 True. 하나라도 False면 False.

In [ ]:
age >= 19 and name == "홍길동"

In [ ]:
age >= 19 and name == "이순신"

In [ ]:
age >= 19 or name == "이순신" #or: 둘중에 하나만 True이면 True

In [ ]:
(age >= 19) | (name == "이순신")

In [ ]:
# 나이가 20세 이상이 아닌가?
not age>= 20

In [ ]:
age < 19

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and False

In [1]:
"""dsklfajdjasdlkfj
laskdjflksadjklfdsa
alkasjdflksjadklf
]aslkfjsalkjflsad"""

'dsklfajdjasdlkfj\nlaskdjflksadjklfdsa\nalkasjdflksjadklf\n]aslkfjsalkjflsad'

In [2]:
s = """dsklfajdjasdlkfj
laskdjflksadjklfdsa
alkasjdflksjadklf
]aslkfjsalkjflsad"""
s

'dsklfajdjasdlkfj\nlaskdjflksadjklfdsa\nalkasjdflksjadklf\n]aslkfjsalkjflsad'

In [3]:
print(s)

dsklfajdjasdlkfj
laskdjflksadjklfdsa
alkasjdflksjadklf
]aslkfjsalkjflsad

In [5]:
print(1+1)
print(2+2)
3+3

2
4

6

In [7]:
print(10) #10+엔터
print("A")
print("B", end='-') #end: 출력후 뒤에 붙이는 것을 지정.
print('C')

10
A
B-C

In [9]:
# 동시에 여러 값 출력
print('A','B','C',20,30.7)
name = '홍길동'
print('이름:', name)

A B C 20 30.7
이름: 홍길동

In [11]:
print("A", "B", "C", sep='-')  # sep: 출력값들 구분자 지정(생략시 공백)
print("A", "B", "C", sep='--')
print("A", "B", "C", sep='#')

A-B-C
A--B--C
A#B#C

In [13]:
len(name)

3

In [14]:
"he" in "hello" #hello 안에 he가 있나?

True

In [15]:
"서초구" in "서울시 강남구"

False

In [16]:
"강남구" in "서울시 강남구"

True

In [17]:
"강남구" not in "서울시 강남구"

False

In [18]:
"*" * 100

'****************************************************************************************************'

In [21]:
print('sssssss')
print('-'*30)
print("dddddddd")

sssssss
------------------------------
dddddddd

In [22]:
"이름:"+name

'이름:홍길동'

In [25]:
age = 20
# "나이:"+age #str(문자열) + int(정수) -에러: 같은타입만 + 가능.
"나이:"+str(age)

'나이:20'

## indexing, slicing
- indexing: 여러개중 하나 조회
- slicing: 범위로 조회

- index: 각 원소를 구분하는 식별자로 0부터 1씩증가하는 값. (뒤에서 부터: -1에서 -1씩 증가하는)

In [26]:
s = "0123456789" 
s

'0123456789'

In [27]:
s[0] #첫번째 글자

'0'

In [28]:
print(s[0], s[2], s[6])

0 2 6

In [29]:
print(s[-1], s[-5])

9 5

In [30]:
print(s[0], s[-10])

0 0

In [31]:
s[30] #없는 index는 조회 안된다.

IndexError: string index out of range

In [33]:
s

'0123456789'

In [34]:
s[0:5] #시작 ~ 종료-1

'01234'

In [35]:
s[:5]

'01234'

In [36]:
s[5:]

'56789'

In [38]:
s[::3]

'0369'

In [39]:
s[2:-2]

'234567'

In [41]:
s[9:1:-1]

'98765432'

# 문자열 formatting

In [42]:
name = "홍길동"
age = 20
address = "서울시 서초구"

In [43]:
info = "이름: "+name+", 나이: "+str(age)+", 주소: "+address
info

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

In [44]:
info2 = "이름: {}, 나이: {}, 주소: {}".format(name, age, address)
info2

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

In [47]:
# 동일한 값을 여러 군데서 사용할 경우 번호 지정해 사용
info3 = '이름: {0}, 나이: {1}, 주소: {2}, {1}'.format(name, age, address)
info3

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구, 20'

In [49]:
info3 = '이름: {name}, 나이: {age}, 주소: {address}'.format(name=name, age=age, address=address)
info3

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

In [55]:
# 값이 들어갈 부분을 값의 타입과 매칭되는 형식문자를 사용.
# %s: 문자열, %d: 정수, %f: 실수. %%: %
# 넣어줄 값은   서식문자열 % (값, 값,..)

info4 = "이름: %s, 나이: %d, 주소: %s, 키: %.2f" % (name, age, address, 175.8)
info4

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구, 키: 175.80'

In [57]:
'%5d' % 10

'   10'

In [58]:
'%-5d' % 10

'10   '

In [61]:
'몸무게:{:.2f}, 키:{:.2f}'.format(67.7, 180.6)

'몸무게:67.70, 키:180.60'

In [63]:
# 파이썬 3.6에서 추가된 방식.
info5 = f"이름: {name}, 나이: {age}, 주소: {address}"
info5

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

# 문자열 메소드

In [64]:
s1 = '   a    '
s1

'   a    '

In [65]:
s1.strip()

'a'

In [66]:
s2 = input("이름:")

이름:

In [69]:
s2

'     '

In [70]:
len(s2.strip())

0

In [72]:
s1.count(' ')

7

In [73]:
s2 = 'aaabbbbbccc'
s2.count('b')

5

In [74]:
s2.count('ab')

1

In [75]:
s3='사과,귤,배,수박'
s3.split(',') #, 를 구분자로 해서 단어들을 나눈다. (생략하면 공백기준.)

['사과', '귤', '배', '수박']

control + shift + -

In [86]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
jumin = "901211-1027213"
print(jumin[:6])
print(jumin[7:])
j_split = jumin.split('-') 
print(j_split[0], j_split[1])

901211
1027213
901211 1027213

In [87]:
#2.  "안녕하세요" 를 10번 출력하시오.
"안녕하세요" * 10

'안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요'

In [88]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
"제품명:{}, 가격:{}, 제조사:{}".format(name, price, maker)

'제품명:TV, 가격:300000, 제조사:LG'

In [89]:
"제품명:{n}, 가격:{p}, 제조사:{m}".format(n=name, p=price, m=maker)

'제품명:TV, 가격:TV, 제조사:LG'

In [90]:
"제품명: %s, 가격: %d, 제조사: %s" % (name, price, maker)

'제품명: TV, 가격: 300000, 제조사: LG'

In [91]:
f'제품명:{name}, 가격:{price}, 제조사:{maker}'

'제품명:TV, 가격:300000, 제조사:LG'

In [92]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
"수박" in fruits

False

In [93]:
"수박" not in fruits

True

In [96]:
s = "수박있음" if "수박" in fruits else "수박없음"

In [97]:
s

'수박없음'

In [98]:
#5. 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
str_value.count('a')

9

In [99]:
str_value.count('d')

4

In [100]:
str_value.count('djfa')

2

# 변환함수

In [101]:
num1 = input("num1:")#문자열(string)로 입력받는다.
num2 = input("num2:")
num1+num2

num1:1
num2:5

'15'

In [104]:
num1 = input("num1:")#문자열(string)로 입력받는다.
num1 = int(num1)#문자열을 정수로 변환.

num2 = input("num2:")
num2 = int(num2)

num1+num2

num1:5.5

ValueError: invalid literal for int() with base 10: '5.5'

In [106]:
num1 = input("num1:")#문자열(string)로 입력받는다.
num1 = float(num1)#문자열을 실수로 변환.

num2 = input("num2:")
num2 = float(num2)

num1+num2

num1:5
num2:6

11.0

In [108]:
#int('aaa')

In [109]:
print(int(True))
print(int(False))

1
0