# 리스트
- 순서가 있는 자료구조.
- 순서: index, index로 원소들을 식별한다.

In [1]:
num_list = [10,20,30,40,50]
num_list

[10, 20, 30, 40, 50]

In [2]:
str_list = ["A","b","C"]
str_list

['A', 'b', 'C']

In [3]:
my_list = [True, False, "abc", 20,40]
my_list

[True, False, 'abc', 20, 40]

In [4]:
num_list[0] #첫번째 값 조회

10

In [5]:
print(num_list[1], num_list[3])

20 40

In [6]:
len(num_list) #원소 개수

5

In [7]:
# num_list[20]

In [8]:
num_list[-1]

50

In [9]:
num_list[:3]

[10, 20, 30]

In [10]:
num_list[2:]

[30, 40, 50]

In [11]:
num_list[::2]

[10, 30, 50]

In [12]:
num_list

[10, 20, 30, 40, 50]

In [13]:
num_list[0]=1000 #인덱스 0의 값을 1000으로 변경
num_list

[1000, 20, 30, 40, 50]

In [14]:
num_list[:3] = [1,2,3,4,5]
num_list

[1, 2, 3, 4, 5, 40, 50]

In [15]:
num_list[::3] = [20, 200,2000]
num_list

[20, 2, 3, 200, 5, 40, 2000]

## 리스트 연산자

In [16]:
# 리스트 + 리스트 : 두 리스트를 합친다.
list1 = [10,20,30,40,50]
list2 = [1,2,3,4,5]
list3 = list1 + list2
list3

[10, 20, 30, 40, 50, 1, 2, 3, 4, 5]

In [17]:
# 리스트*정수 : 원소를 반복해서 가지고 있는 새로운 리스트 생성.
list4 = list1 * 5
list4

[10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50]

In [18]:
30 in list1

True

In [19]:
100 in list1

False

In [20]:
30 not in list1

False

In [21]:
100 not in list1

True

In [22]:
[10,20] in list1

False

In [23]:
# 중첩 리스트 - 리스트가 리스트(자료구조)를 원소로 가질 수 있다.
list5 = [
         [1,2,3],
         [4,5,6]
        ]

In [24]:
list5[0]

[1, 2, 3]

In [25]:
list5[1]

[4, 5, 6]

In [26]:
list5[1][1]

5

In [27]:
#리스트 대입
# a<-1, b<-2
a, b = [1,2]
print(a, b)

1 2

In [28]:
l = [10,20]
print(l[0], l[1])

10 20

In [29]:
num1,num2 = l
num1

10

## 리스트 주요 메소드

In [30]:
# append() : 마지막 원소로 값 추가.
list1

[10, 20, 30, 40, 50]

In [31]:
list1.append(60)
list1

[10, 20, 30, 40, 50, 60]

In [32]:
list1.append(1000)
list1

[10, 20, 30, 40, 50, 60, 1000]

In [33]:
# insert(index, 값) : 값을 index에 삽입
list1.insert(1, 5000)
list1

[10, 5000, 20, 30, 40, 50, 60, 1000]

In [34]:
# sorted() :정렬

In [35]:
list6 = [5, 12, 3, 100, 40]
list7 = sorted(list6) # 내장함수 - 정렬된 새로운 리스트 반환.
list7

[3, 5, 12, 40, 100]

In [36]:
sorted(list6, reverse=True) # 내림차순

[100, 40, 12, 5, 3]

In [37]:
# 메소드 : sort() - 리스트 자체가 변경
list6.sort()

In [38]:
list6

[3, 5, 12, 40, 100]

In [39]:
list6.sort(reverse=True)

In [40]:
list6

[100, 40, 12, 5, 3]

In [41]:
# 리스트 값 삭제 : list.remove(삭제할 값),  del list[index]
list6.remove(40)
list6

[100, 12, 5, 3]

In [42]:
del list6[0]
list6

[12, 5, 3]

In [43]:
list6.clear() #모든 원소들 삭제

In [44]:
list6

[]

In [45]:
list7 = [1,1,1,2,3]
list7.remove(1)
list7

[1, 1, 2, 3]

# 튜플(Tuple)
- 순서가 있고 중복된 값(원소)를 허용.
- 원소를 변경할 수 없다.

In [46]:
tu1 = ('a','b','c','d')
tu1

('a', 'b', 'c', 'd')

In [47]:
tu2 = '가','나','다'
tu2

('가', '나', '다')

In [48]:
type(tu2), type([1,2,3])

(tuple, list)

In [49]:
1,2,3

(1, 2, 3)

In [50]:
tu3 = (1,2,3,1,1,1,2) #같은 값들 가질 수 있다.
tu3

(1, 2, 3, 1, 1, 1, 2)

In [51]:
# 각 원소들을 조회: indexing/slicing
print(tu3[0], tu3[2], tu3[4])

1 3 1

In [52]:
tu3[:3]

(1, 2, 3)

In [53]:
tu3[1:5]

(2, 3, 1, 1)

In [54]:
tu3[::3]

(1, 1, 2)

In [55]:
tu3[0]=100 #튜플은 원소를 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

## 튜플 연산자

In [56]:
tu1+tu2+tu3

('a', 'b', 'c', 'd', '가', '나', '다', 1, 2, 3, 1, 1, 1, 2)

In [57]:
tu1

('a', 'b', 'c', 'd')

In [58]:
tu1 * 3

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [59]:
'a' in tu1,  'a' not in tu1

(True, False)

In [60]:
'가' in tu1, '가' not in tu1

(False, True)

In [61]:
a = (10)
type(a)

int

In [62]:
b = (10,)
print(type(b))
print(b)

<class 'tuple'>
(10,)

In [63]:
c = 20,
print(type(c), c)

<class 'tuple'> (20,)

## 튜플대입

In [64]:
a, b, c = 10,20,30
print(a, b, c)

10 20 30

In [65]:
x = 100
y = 200

In [66]:
x, y = y, x

In [67]:
x, y

(200, 100)

# 딕셔너리(Dictionary)
- key-value 쌍으로 관리 (key-value => item)
- key는 중복될 수 없고 value는 중복 가능
- key로는 주로 문자열을 사용.

In [68]:
fruits = {"참외":20, "수박":10, "사과":15}
fruits, type(fruits)

({'참외': 20, '수박': 10, '사과': 15}, dict)

In [69]:
# 함수를 이용해 생성.
# dict(key=값, key=값, ...) #key는 변수형식으로 지정.
person = dict(name='홍길동', age=20, address='서울')
person

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [70]:
#조회/변경
fruits['수박'], fruits['사과']

(10, 15)

In [71]:
fruits['수박']=50
fruits

{'참외': 20, '수박': 50, '사과': 15}

In [72]:
fruits['귤'] = 30 #추가(없는 키로 대입)
fruits

{'참외': 20, '수박': 50, '사과': 15, '귤': 30}

In [73]:
fruits['배'] #없는 KEY 조회

KeyError: '배'

In [74]:
fruits.get("사과") #조회 메소드

15

In [75]:
print(fruits.get("배"))

None

In [76]:
print(fruits.get("배", 0)) #조회하는 key가 없으면 0(기본값) 반환.

0

In [77]:
person

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [78]:
"홍길동" in person

False

In [79]:
'name' in person  #in, not in 연산자는 key값의 유무 체크.

True

## 딕셔너리 메소드

In [80]:
fruits

{'참외': 20, '수박': 50, '사과': 15, '귤': 30}

In [81]:
fruits.pop('참외') #지우면서 값을 반환

20

In [82]:
fruits

{'수박': 50, '사과': 15, '귤': 30}

In [83]:
del fruits['사과']
fruits

{'수박': 50, '귤': 30}

In [84]:
p = person.items()
p

dict_items([('name', '홍길동'), ('age', 20), ('address', '서울')])

In [85]:
person.keys()

dict_keys(['name', 'age', 'address'])

In [86]:
person.values()

dict_values(['홍길동', 20, '서울'])

# Set
- 중복을 허용하지 않는다.
- 순서가 없다. => 원소의 식별자(index)가 없다.

In [87]:
s1 = {1,2,3,4}
print(type(s1))
s1

<class 'set'>

{1, 2, 3, 4}

In [88]:
s2 = {1,1,1,2,2,2,5,5}
s2

{1, 2, 5}

In [89]:
# s2[0] #set은 원소 하나씩 조회가 안됨 (control + /)

In [90]:
s1

{1, 2, 3, 4}

In [91]:
s2

{1, 2, 5}

In [92]:
s1 | s2 #합집합

{1, 2, 3, 4, 5}

In [93]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [94]:
s1 & s2 #교집합

{1, 2}

In [95]:
s1.intersection(s2)

{1, 2}

In [96]:
s1 - s2 #차집합

{3, 4}

In [97]:
s1.difference(s2)

{3, 4}

In [98]:
l = [1,2,3]
l

[1, 2, 3]

# 자료구조 변환함수
- list(변경할대상) : list로 변환
- tuple(변경할대상): tuple로 변환
- set(변경할대상) : set으로 변환

- 딕셔너리로 변환하는 함수는 없다.
- 변경대상이 딕셔너리인 경우 key값들만 모아 변환한다.

In [99]:
t = 1,2,3,4,5
t

(1, 2, 3, 4, 5)

In [100]:
list(t)

[1, 2, 3, 4, 5]

In [101]:
l = list(t)
l[0] = 100
l

[100, 2, 3, 4, 5]

In [102]:
t = tuple(l)
t

(100, 2, 3, 4, 5)

In [103]:
l = [1,1,1,1,2,2,2]
set(l)

{1, 2}

In [104]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
#control + shift + -

# 위는 1번 ~ 10번까지 10명의 시험 점수이다. 
#(1)  7번의 점수를 출력하시오 
print(jumsu[6])

80

In [105]:
#(2)  1번부터 5번까지의 점수를 출력하시오.
jumsu[:5]

[100, 90, 100, 80, 70]

In [106]:
#(3)  4, 5, 6, 7번의 점수를 출력하시오.
jumsu[3:7]

[80, 70, 100, 80]

In [107]:
#(4) 짝수번째 점수를 출력하시오.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [108]:
#(5) 홀수번째 점수를 출력하시오.
jumsu[0::2]

[100, 100, 70, 80, 95]

In [109]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하시오.
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [110]:
jumsu[8] = 20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [111]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하시오.
list(set(jumsu))

[100, 70, 80, 20, 85, 90]

In [112]:
#(8)본인의 이름, 나이, email주소, 취미, 결혼유무를 딕셔너리으로 생성. 
# 취미는 2개 이상의 값을 넣는다..
info = {'name':'김성환', 'age':30, 'email':'kgmyh@naver.com', 'is_marriage':True,
       'hobby':['음악감상','독서','영화감상']}
info2 = dict(name='김성환', age=30)

In [113]:
#(9) 위 딕셔너리에서 이름과 email주소를 조회해서 출력
info['name'], info['email']

('김성환', 'kgmyh@naver.com')

In [114]:
info.get('name'), info.get('email', '없음')

('김성환', 'kgmyh@naver.com')

In [115]:
#(10) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력i
info['hobby'][1]

'독서'

In [116]:
h1, h2, h3 = info['hobby']
print(h1, h2, h3)

음악감상 독서 영화감상