In [1]:
bool([1,2])

True

In [2]:
bool([]), bool({})

(False, False)

In [3]:
num = 0
if num==0: #if문 선언부
    print("0")
    print("영")
    
print("종료")

0
영
종료

In [4]:
num = 10
if num==0: #if문 선언부
    print("0")
    print("영")
else:
    print("0아님")
    
print("종료")

0아님
종료

In [5]:
num = -10
if num==0: #if문 선언부
    print("0")
    print("영")
elif num>0:
    print("양수")
elif num<0: #else:
    print("음수")
print("종료")

음수
종료

In [6]:
id = input('id:')
#id를 입력했으면 저장, 안했으면 오류메세지
if id.strip(): #빈문자열: False, 1글자 이상: True
    print(id+"를 저장했습니다.")
else:
    print("아이디를 입력하세요")

id: ㅁ

ㅁ를 저장했습니다.

In [7]:
city=input("도시명:").strip()

if city=='서울시':
    print('서울시: 특별시')
elif city in ['인천시','대구시','대전시','부산시','광주시','울산시']:
    print(f'{city}는 광역시')
    print('{}는 광역시'.format(city))
    print('%s는 광역시' % city)
else:
    print('{}는 일반시'.format(city))

도시명: ㅇ

ㅇ는 일반시

# while

In [8]:
limit = int(input("limit:"))
count = 0
while count < limit:
    print(count)
#     count = count + 1
    count += 1 #대입연산자.

limit: 6

0
1
2
3
4
5

# for in문

In [9]:
nums = [10,20,30,40,50]
for num in nums:
    print(num)

10
20
30
40
50

In [10]:
t = 1,2,3,4
for num in t:
    print(num)

1
2
3
4

In [11]:
dic = dict(a=10, b=20, c=30)
dic

{'a': 10, 'b': 20, 'c': 30}

In [12]:
for key in dic: #key값이 반복 조회된다.
    print(key)

a
b
c

In [13]:
for key in dic:
    print(dic[key])

10
20
30

In [14]:
for c in "안녕하세요. abcde.":
    print(c)

안
녕
하
세
요
.

a
b
c
d
e
.

# break, continue
- 반복문에서 사용하는 예약어
- break: 반복을 멈춰라. 
- continue: 조건을 다시 비교, 다음 원소를 반복 조회 해라. - 다음 반복

In [15]:
num = 0
while True:
    if num >= 10:
        break
    print(num)
    num += 1  # num = num+1

0
1
2
3
4
5
6
7
8
9

In [16]:
num=0
while num <= 100:
    if num%5==0: #5의 배수
        print(num)
    num +=1

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [17]:
num=0
while num <= 100:
    if num%5!=0: #5의 배수가 아니면
        num+=1
        continue
    print(num)
    num +=1

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## for in 문 관련 함수
- range()

In [18]:
print(range(1,100,5))

range(1, 100, 5)

In [19]:
# range를 이용해 list/tuple/set 생성
l1 = list(range(1, 100, 5))
l1

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [20]:
t1 = tuple(range(10)) #멈춤값, 0 ~ 10-1 1씩증가
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
s1 = list(range(10, 0, -1))
s1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
for num in range(10):
    print(num, end='\t')

0	1	2	3	4	5	6	7	8	9

- enumerate(): index(몇번째 반복)과 원소를 묶어서 tuple로 반환

In [23]:
l2 = list(range(10))
l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# for num in enumerate(l2):
for idx, num in enumerate(l2):
    print(idx, num)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [25]:
s = ['가', '나', '다', '라']
for i, ss in enumerate(s):
    if i % 2 == 0:
        print(i, ss)

0 가
2 다

In [26]:
for i, num in enumerate(l2, start=100):
    print(i, num)

100 0
101 1
102 2
103 3
104 4
105 5
106 6
107 7
108 8
109 9

In [27]:
_ = 10
print(_)

10

In [28]:
# 안녕  10번 출력 - 어떤 작업을 N번 반복할때.
for _ in range(10):
    print("안녕")

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

- zip(자료구조들,....)
    - 반복시 마다 같은 index의 값들을 묶어서 반환.

In [29]:
ids = ['id-1', 'id-2','id-3','id-4','id-5', 'id-10', 'id-20']
ages = [20, 15, 31, 27, 33]
talls = [175.6, 162.7, 180.5, 170.7, 169.2]

In [30]:
print(len(ids), len(ages), len(talls))

7 5 5

In [31]:
for info in zip(ids, ages, talls):
    print(info)

('id-1', 20, 175.6)
('id-2', 15, 162.7)
('id-3', 31, 180.5)
('id-4', 27, 170.7)
('id-5', 33, 169.2)

In [32]:
for id, age, tall in zip(ids, ages, talls):
    print(f'아이디:{id}, 나이:{age}, 키:{tall}')

아이디:id-1, 나이:20, 키:175.6
아이디:id-2, 나이:15, 키:162.7
아이디:id-3, 나이:31, 키:180.5
아이디:id-4, 나이:27, 키:170.7
아이디:id-5, 나이:33, 키:169.2

In [33]:
"abc\tdef\n123"
print("c:\\temp")

c:\temp

## Comprehension (컴프리헨션-내포)

In [34]:
l3 = list(range(10))
l3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# l3 의 각원소 * 10 한 값을 가진 리스트를 생성.
result_list = []
for num in l3:
    result_list.append(num * 10) #list.append(값): list에 값을 추가

In [36]:
result_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [37]:
results = [num*10  for num in l3]
results

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [38]:
# l3의 각 원소의 값 - 10 한 값들을 가지는 리스트를 생성.

In [39]:
results2 =  [num-10 for num in l3]
results2

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

- 리스트 컴프리헨션
    - 자료구조의 원소를 처리한 값을 **리스트**에 넣는 구문.
- 셋(Set) 컴프리헨션
- 딕셔너리(Dictionary) 컴프리헨션
    - 처리한 결과를 어디에 넣는지에 따라.
- **튜플 컴프리헨션은 없다.**
- 셋/딕셔너리 컴프리헨션은 파이써 3.0에 추가된 문법.

In [40]:
# Set 컴프리헨션
{num-10 for num in l3}

{-10, -9, -8, -7, -6, -5, -4, -3, -2, -1}

In [41]:
# 딕셔너리 컴프리헨션
{'key'+str(i):num-10 for i, num in enumerate(l3)}

{'key0': -10,
 'key1': -9,
 'key2': -8,
 'key3': -7,
 'key4': -6,
 'key5': -5,
 'key6': -4,
 'key7': -3,
 'key8': -2,
 'key9': -1}

In [42]:
l4 = list(range(0,101))
l4

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [43]:
# l4의 원소중 5의 배수값들인 원소 * 5 들을 가지는 리스트 생성
result_list3 = []
for num in l4:
    if num%5==0:
        result_list3.append(num*5)

In [44]:
print(len(result_list3))
result_list3

21

[0,
 25,
 50,
 75,
 100,
 125,
 150,
 175,
 200,
 225,
 250,
 275,
 300,
 325,
 350,
 375,
 400,
 425,
 450,
 475,
 500]

In [45]:
result_list5 = [num*5 for num in l4 if num%5==0]
result_list5

[0,
 25,
 50,
 75,
 100,
 125,
 150,
 175,
 200,
 225,
 250,
 275,
 300,
 325,
 350,
 375,
 400,
 425,
 450,
 475,
 500]

In [46]:
len(result_list5)

21

In [47]:
l5 = [[1,2,3],[10,20,30]]
for i in l5:
    for j in i:
        print(j, end="\t")
    print()

1	2	3
10	20	30

In [48]:
[i for i in l5]

[[1, 2, 3], [10, 20, 30]]

In [49]:
[j for i in l5  for j in i]

[1, 2, 3, 10, 20, 30]

In [50]:
[j for i in l5  for j in i if j%2==0]

[2, 10, 20, 30]

In [51]:
#(1) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
#합계 저장할 변수
sum_var = 0
for num in jumsu:
    sum_var = sum_var + num
#     sum_var += num
print("합계:", sum_var)
print("평균:", sum_var/len(jumsu))
avg = sum_var/len(jumsu)
avg

합계: 890
평균: 89.0

89.0

In [52]:
#(2) 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx, score in enumerate(jumsu):
    if score>=avg:
        print("{}-{}".format(idx,'Pass'))
    else:
        print("{}-{}".format(idx,'Fail'))

0-Pass
1-Pass
2-Pass
3-Fail
4-Fail
5-Pass
6-Fail
7-Pass
8-Pass
9-Fail

In [53]:
for idx, score in enumerate(jumsu):
    print(idx, ("Pass" if score>=avg else "Fail"))

0 Pass
1 Pass
2 Pass
3 Fail
4 Fail
5 Pass
6 Fail
7 Pass
8 Pass
9 Fail

In [54]:
test_list = []
for score in jumsu:
    if score>=avg:
        test_list.append("Pass")
    else:
        test_list.append("Fail")
test_list

['Pass',
 'Pass',
 'Pass',
 'Fail',
 'Fail',
 'Pass',
 'Fail',
 'Pass',
 'Pass',
 'Fail']

In [55]:
["Pass" if score>=avg else "Fail" for score in jumsu]

['Pass',
 'Pass',
 'Pass',
 'Fail',
 'Fail',
 'Pass',
 'Fail',
 'Pass',
 'Pass',
 'Fail']

In [56]:
#(3) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_var=jumsu[0] #최대값을 저장할 변수
for num in jumsu:
    #max_var <= num 면 max_var를 num으로 교체(변경)
    if max_var < num:
        max_var = num

print("최대값: ", max_var)

최대값:  95

In [57]:
# 내장함수
print(sum(jumsu)) #자료구조내 모든 숫자들의 합계 계산
print(sum(tuple(jumsu)))
print(max(jumsu)) #원소중 최대값 
print(min(jumsu)) #최소값
print("%.2f" % (sum(jumsu)/len(jumsu)))
a = sum(jumsu)/len(jumsu)
round(a, 2) # round(대상값, 자릿수) #자릿수 이하에서 반올림. 
#  (양수: 소숫점이하자리, 음수: 정수 자리)

785
785
95
55
78.50

78.5

In [58]:
n = 1856.8278
print(round(n))
print(round(n, 2))
print(round(n, -2))

1857
1856.83
1900.0

In [59]:
#(4) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
dan = int(input("단:"))
for i in range(1, 10):
    print('{} X {} = {}'.format(dan, i, dan*i))

단: 3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [60]:
# 구구단 표
for num1 in range(1,10): # 뒷자리
    for num2 in range(2,10): #앞자리
        print("{} X {} = {}".format(num2, num1, num2*num1), end='\t')
    print() #엔터(줄바꿈) 출력

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [61]:
#컴프리헨션

#(5) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
[num*2 for num in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [62]:
#(6) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
[ (num, num*10) for num in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [63]:
#(7) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[num for num in lst2 if num%3==0]

[3, 33, 21, 33, 60, 120]

In [64]:
{num for num in lst2 if num%3==0}

{3, 21, 33, 60, 120}

In [65]:
#(8) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.
#(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[filename for filename in file_name if filename.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [66]:
f = "abc.exe"
f.endswith('.exe'), f.endswith('.bat'), f.startswith('ab'), f.startswith("test"),\
("bc" in f)

(True, False, True, False, True)

In [67]:
#(9) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[file for file in file_name if len(file)>=10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [68]:
import random
random.randint(1, 100) #실행시마다 1 ~ 100 사이 임의의 정수 하나를 반환

34

In [70]:
import guess_number
guess_number.guess_num()

AttributeError: module 'random' has no attribute 'guess_num'

In [71]:
# 정답이 될 임의값 생성
import random
num = random.randint(1,100) #1 ~ 100사이의 임의의 정수를 반환.
count = 1 #몇번째 맞추는지를 저장할 변수
guess_list = [] #사용자가 예측한 값들을 저장할 리스트

print("1 ~ 100 사이의 숫자중 하나를 맞추세요.")
# 사용자로 부터 숫자 입력
guess_num = int(input("1~100:"))
guess_list.append(guess_num)
# 정답과 사용자입력값이 같은지 비교해서 같으면 종료, 다르면 다시 입력받는다.
while num!=guess_num:
    if num > guess_num:
        print("더 큰값을 입력하세요")
    else:
        print("더 작은 값을 입력하세요")   
    guess_num = int(input('1~100:'))
    guess_list.append(guess_num)
    
    count = count+1 # count += 1
    
print("{}번 만에 맞췄습니다".format(count))
print(guess_list)

1 ~ 100 사이의 숫자중 하나를 맞추세요.

1~100: 4

더 큰값을 입력하세요

1~100: 6

더 큰값을 입력하세요

1~100: 80

더 작은 값을 입력하세요

1~100: 50

더 작은 값을 입력하세요

1~100: 30

더 작은 값을 입력하세요

1~100: 20

더 작은 값을 입력하세요

1~100: 10

더 큰값을 입력하세요

1~100: 15

더 큰값을 입력하세요

1~100: 18

더 큰값을 입력하세요

1~100: 19

10번 만에 맞췄습니다
[4, 6, 80, 50, 30, 20, 10, 15, 18, 19]

In [ ]:
input("1~100:")

In [ ]:
int("20")

In [ ]:
print('aaaa')

In [ ]:
print()