In [8]:
# 함수 정의
def greeting(): #선언부-사용법(호출하는 입장에서)
    # 구현부 - 함수가 호출 됬을때 실행할 명령문들
    print("안녕하세요")
    print("반값습니다.")

In [9]:
#호출 : 이름([값,...])
greeting()

안녕하세요
반값습니다.

In [10]:
greeting()
greeting()
greeting()

안녕하세요
반값습니다.
안녕하세요
반값습니다.
안녕하세요
반값습니다.

## 함수의 매개변수(Parameter)

In [12]:
def greeting2(name):
    print(name+"님 안녕하세요")

In [15]:
greeting2("홍길동")
greeting2("박영희")
greeting2("이순신")

홍길동님 안녕하세요
박영희님 안녕하세요
이순신님 안녕하세요

In [16]:
def plus(num1, num2, num3):
    print("{}+{}+{}={}".format(num1, num2, num3, num1+num2+num3))
#     return None

In [26]:
plus(10,20,30)
plus(100,200,300)
r = plus(1,2,3)
print(r)

10+20+30=60
100+200+300=600
1+2+3=6
None

In [22]:
## 리턴값(함수가 처리가 끝나고 반환해주는 결과값)
# return 반환값 - return: 호출한 곳을 돌아가라. 반환값이 있으면 그 값을 가지고 돌아가라.
# 반환값을 생략 하면 None 이 반환된다.
# 반환값이 없을 경우(None) return 구문 생략 할 수 있다.
def plus2(num1, num2, num3):
    result = num1+num2+num3
    return result  #return 반환값

In [24]:
i = plus2(10,20,30)
i - 20

40

In [32]:
# 반환값이 여러개인 경우. => 자료구조로 묶어서 반환 (반환값은 1개만 가능하기 때문에.)
def calculate(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
#     return r1,r2,r3,r4 #튜플
    return [r1,r2,r3,r4] #리스트

In [33]:
v1, v2, v3, v4 = calculate(10,20)
print(v1,v2,v3,v4)

30 -10 200 0.5

In [29]:
v = calculate(10,20)
print(type(v))
print(v)

<class 'tuple'>
(30, -10, 200, 0.5)

In [35]:
def calculate2(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return {
        "덧셈":r1, "뺄셈":r2, "곱셈":r3, "나눗셈":r4
    }

In [37]:
d = calculate2(20,10)
d['덧셈']

30

In [46]:
## 기본값이 있는 매개변수(Parameter)

#age=0 호출할때 전달 값이 있으면 그값이 대입되고 없으면 age는 0을 기본값으로 사용.
#기본값이 있는 매개 변수 뒤에는 일반 매개변수(기본값없는)는 선언 할 수없다.
def printInfo(id, name, age=0, address=None, hobby=[]): 
    print(id, name, age, address, hobby)

In [47]:
printInfo("id-1", "이름")

id-1 이름 0 None []

In [48]:
printInfo('id-2','홍길동', 20)

id-2 홍길동 20 None []

In [50]:
# id, 이름, address
printInfo('id-3','이순신',  "서울") #서울=>age

id-3 이순신 0 서울 []

In [53]:
printInfo('id-4','김영수',0, None, ['독서', '음악감상'])

id-4 김영수 0 None ['독서', '음악감상']

In [54]:
# 키워드 인수(Keyword argument) - 호출할때 매개변수명을 지정해서 값 전달.
printInfo('id-4', '김영수',hobby=['독서','음악감상'])

id-4 김영수 0 None ['독서', '음악감상']

In [55]:
printInfo(age=20, address="인천", name="홍길동", id="myid")

myid 홍길동 20 인천 []

In [68]:
# 가변인수
# *변수 - 0 ~ n개의 전달값을 튜플로 묶어서 받는다.
def sum_nums(*num_list):
    print(type(num_list))
    result = 0
    for num in num_list:
        result += num
    return result

In [71]:
l = [1,2,3,4,5,6,7,8,9]
v = sum_nums(*l) #리스트(튜플)의 원소들을 가변인자로 전달. *리스트, *튜플
print(v)

# v = sum_nums(1,2,3,4,5)
# print(v)
# v = sum_nums(1,2,3)
# print(v)
# print(sum_nums(1,2))
# print(sum_nums())

# v = sum_nums([1,2,3,4,5])
# print(v)
# v = sum_nums([4,5,12,20])
# print(v)

<class 'tuple'>
45

In [73]:
# 가변인수 : **변수명
# - 호출할때 keyword 인수 형태로 전달하고 가변인수는 전달된 값을 dictionary로 처리한다.
# 값의 개수는 제한없다.

In [74]:
def personInfo(**info):
    print("ID:", info.get('id'))
    print("이름:", info.get('name'))
    print("나이:", info.get('age'))
    print(type(info))
    print(info)

In [75]:
personInfo(id='id-10', name='홍길동', age=20, address='서울')

ID: id-10
이름: 홍길동
나이: 20
<class 'dict'>
{'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}

In [78]:
info = {'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}
personInfo(**info) #dictionary의 item(key-value)를 키워드 인수형식으로 만들어 호출

ID: id-10
이름: 홍길동
나이: 20
<class 'dict'>
{'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}

In [82]:
# 가변인수는 하나의 함수에 한개씩만 선언 할 수 있다.
# 가변인수는 일반 매개변수 다음에 선언해야 한다.
# 변수명(관례): *args , **kwargs
def a(m, n, *x,**y, r):
    pass

SyntaxError: invalid syntax (<ipython-input-82-4fa2561b9ac5>, line 4)

In [ ]:
a(1,2,3,4,5,6,7,8, a=10, b=20)

# 함수는 일급시민객체(First Class Citizen Object)
- 일급시민객체
    - 변수에 대입 가능
    - 함수 호출시 매개변수로 전달 할 수 있어야 한다. 
    - 함수의 반환값으로 사용할 수 있어야 한다.

In [83]:
def hello(name):
    print(name+" 안녕하세요.")

In [84]:
hello("홍길동")

홍길동 안녕하세요.

In [85]:
my_hello = hello
my_hello = hello()

In [86]:
my_hello("이순신")

이순신 안녕하세요.

In [89]:
calc = calculate(1,2)#호출.  calc: calculate(1,2)의 반환값.
    
calc

[3, -1, 2, 0.5]

In [91]:
calc = calculate   #함수자체를 calc변수에 대입 (함수에 새이름 추가.)
calc(1,2)

[3, -1, 2, 0.5]

In [92]:
def calculate3(func):
    num1 = 10
    num2 = 20
    result = func(num1, num2)
    print(result)

In [94]:
def plus(n1, n2):
    return n1+n2

In [97]:
calculate3(plus)

30

In [98]:
def minus(n1,n2):
    return n1-n2
calculate3(minus)

-10

# 람다식(Lambda)
- 단일 구문으로 표현하는 익명의 함수
- 익명함수: 이름없이 구현만 가지고 있는 함수.
- 일회성 함수를 만들 때 사용한다.

- 구문
```python
# [] 생략가능
lambda [매개변수] : 명령문
```

- 명령문 : 하나의 명령문만 가능. 반환값이 있어야 한다.(명령문이 반환하는 값을 람다함수가 반환한다.)

In [100]:
def minus(n1,n2):
    return n1-n2

In [105]:
fun = lambda n1,n2 : n1-n2
fun(1,2)

-1

In [106]:
(lambda x:x*20)(10)

200

In [101]:
ca

In [108]:
def calculate3(func):
    num1 = 10
    num2 = 20
    result = func(num1, num2)
    print(result)

In [109]:

calculate3(lambda x,y:x-y)

-10

In [110]:
calculate3(lambda x,y:x*y)

200

In [111]:
str_list = ["aaaa","ddd","abcdee","a",'bdefczAdaffa']
str_list.sort()

In [112]:
str_list

['a', 'aaaa', 'abcdee', 'bdefczAdaffa', 'ddd']

In [113]:
str_list = ["aaaa","ddd","abcdee","a",'bdefczAdaffa']
str_list.sort(key=lambda x:len(x)) #key=함수 함수가 반환하는 숫자순서로 정렬.
str_list

['a', 'ddd', 'aaaa', 'abcdee', 'bdefczAdaffa']

- filter(함수, 리스트): 리스트내 원소들중 특정 조건을 만족하는 것들만 걸러내는 함수.
                     : 원소하나 하나를 함수에 전달해 True를 반환하는 것만 남긴다.
- map(함수, 리스트)   : 리스트내 원소들을 처리해서 변형한 결과를 Iterable로 반환.

In [125]:
num_list = list(range(1,100))
even_list = filter(lambda x:x%2==0 ,  num_list)
even_list #Iterable타입 (제너레이터-range())
#list(even_list)

In [126]:
for i in even_list:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [128]:
l = [num for num in num_list if num%2==0] #list(even_list)
l

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [130]:
m = map(lambda x:x*200, num_list)
list(m)

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800,
 12000,
 12200,
 12400,
 12600,
 12800,
 13000,
 13200,
 13400,
 13600,
 13800,
 14000,
 14200,
 14400,
 14600,
 14800,
 15000,
 15200,
 15400,
 15600,
 15800,
 16000,
 16200,
 16400,
 16600,
 16800,
 17000,
 17200,
 17400,
 17600,
 17800,
 18000,
 18200,
 18400,
 18600,
 18800,
 19000,
 19200,
 19400,
 19600,
 19800]

In [131]:
[num*200  for num in num_list]

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800,
 12000,
 12200,
 12400,
 12600,
 12800,
 13000,
 13200,
 13400,
 13600,
 13800,
 14000,
 14200,
 14400,
 14600,
 14800,
 15000,
 15200,
 15400,
 15600,
 15800,
 16000,
 16200,
 16400,
 16600,
 16800,
 17000,
 17200,
 17400,
 17600,
 17800,
 18000,
 18200,
 18400,
 18600,
 18800,
 19000,
 19200,
 19400,
 19600,
 19800]

In [132]:
# num_list 홀수 * 100
m1 = map(lambda x:x*100  ,filter(lambda x:x%2!=0, num_list))
list(m1)

[100,
 300,
 500,
 700,
 900,
 1100,
 1300,
 1500,
 1700,
 1900,
 2100,
 2300,
 2500,
 2700,
 2900,
 3100,
 3300,
 3500,
 3700,
 3900,
 4100,
 4300,
 4500,
 4700,
 4900,
 5100,
 5300,
 5500,
 5700,
 5900,
 6100,
 6300,
 6500,
 6700,
 6900,
 7100,
 7300,
 7500,
 7700,
 7900,
 8100,
 8300,
 8500,
 8700,
 8900,
 9100,
 9300,
 9500,
 9700,
 9900]

In [141]:
# docstring:함수에 대한 설명
# 함수의 구현부의 첫번째에 여러줄 문자열로 작성한다.

# 함수 매개변수/리턴타입에 대한 힌트(주석)
def printInfo(id:"아이디-int", name:str, age:int,
              address:"주소"=None)->"리턴값주석":
    """설명
    매개변수 설명
    리턴값 설명
    예제"""
    return f'{id}, {name}, {age}, {address}'

In [137]:
printInfo("id","이름", "나이")

'id, 이름, 나이, None'

In [ ]:
# tab: 자동완성
# shift + tab (x 2)

In [142]:
?printInfo

In [ ]:
name = "abc"
print(name)

In [ ]:
printInfo